.form-control{
    border-radius: 0px;
    margin: 12px 3px;
    height: 40px;
}
/*for logintemplate blue*/
.grayBody{
    background-color: #E9E9E9;
}
.loginbox{
    margin-top: 30%;
    border-top: 8px solid #551A8B;
    background-color:#fff;
    padding: 20px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
}
.singtext{    
    font-size: 28px;  
    color: #551A8B;
    font-weight: 500;
    letter-spacing: 1px;
}
.submitButton{
    background-color: #551A8B;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 10px 0px;
    width: 100%;
    margin-left: 2px;
    font-size: 16px;
    border-radius: 0px;
    outline: none;
}
.submitButton:hover,.submitButton:focus{
    color: #fff;  
    outline: none;
}
/*------------------ LOGIN -----------*/
.erro_login{
    background-color: #dc3545;
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
}
/*------------------- menu -----------*/
.menu{
    background-color: #551A8B;
    height: 50px;
}